
.account__settings {

    height: 500px;
}

.user__settings, .user__preferences {
    padding: 15px;

    display: flex;
    justify-content: left;
    gap: 20px;
}

.user__preferences {
    padding: 15px;

}

.setting {
    text-align: center;
}

.setting__title {
    font-weight: bold;
}

.setting__input {
    outline: none;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 5px;
    border: 0px;

    margin-top: 5px;
    width: 350px;
}

.setting__buttons {

    padding: 15px;
}

.setting__save, .setting__cancel {
    color: white;
    border-radius: 3px;

    padding: 5px;
    width: 75px;
    border-style: none;
}

.setting__save {
    background-color: #303841;
}

.setting__cancel {
    background-color: rgb(128, 126, 126);
}