<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    
    <div id="container">
        <picture id="logo">
            <img class="logo__picture" src="/images/logo.svg" alt="">

        </picture>

        <div class="form__container">

            
            <br><h1>WebNotes</h1><br>

            <p>Welcome to WebNotes</p><br>

            <div id="error__message">
                {{ errors }}
                {{ fields_errors }}
            </div>

            <form action="https://webnoteseasy.herokuapp.com/api/auth/login" method="post">

                <input class="input" type="text" placeholder="Email" name="username">

                <input class="input" type="password" placeholder="password" name="password">

                <p class="text__forgot">
                    <a class="forgot__password" href="">
                        <small>¿forgot password?</small>
                    </a>
                </p>

                <input class="login__button" type="submit" value="Log In">
            </form>

            <p class="container__or">
                <span class="text">or</span>
            </p><br>

            <p>Log In with Google</p>

            <div class="signUp__container">
                <p>New WebNotes?</p>
                <a href="/user/signin">Create Account</a>
            </div>

        </div>
    </div>

</body>
</html>