<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="main-container">
        <div id="form-container">

            <div id="text-top-messages">
                <h1>Log into WebNotes </h1>
                <h4>Or <a href="/user/signin">Create Account</a></h4>
            </div>

            <div id="error-message">
                {{ tittle }}
                {{ errors }}
            </div>

            <div>
                <form id="login-form" action="http://localhost:8080/api/auth/login" method="post">
                    <input placeholder="Email Adress" type="text" name="email"><br>
                    <input placeholder="Password" type="password" name="password">

                    <input id="login-button" type="submit" value="Log In">
                </form>
            </div>

            <div id="continue"> 
                Or continue with: 
            </div>
            
            <div id="social-media-container">
                <div class="icon" id="google">
                    
                </div>

                <div class="icon" id="facebook">
                   
                </div>
            </div>
            <div id="forgot-pass-cont">
                <a id="forfot-password" href="">Forgot Password?</a>
            </div>
        </div>
    </div>
</body>
</html>