<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/profile/profile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/favicon2.png" type="image/x-icon">
</head>

<body>

    <header>

        <div id="title__container">
            <picture class="header__logo">
                <img src="/images/webnotes.png" alt="">
            </picture>

            <h2 class="header__title">WebNotes</h2>
        </div>

        <div id="user__buttons">
            <a class="user__settingsBtn" href="{{ getApiUrl }}/user/home"> Home </a>
        </div>

    </header>

    <div class="container">

        <div class="profile__container">
            
            <div class="option account">
                <img class="card__icon" src="/images/userIcon.png" alt="">
                <p class="card"><b>Account</b></p>
            </div>

            <div class="option account">
                <img class="card__icon" src="/images/keyLockIcon.png" alt="">
                <p class="card"><b>Password</b></p>
            </div>

        </div>

        <div class="notes__content__container">

        </div>
    </div>
    <footer>

    </footer>

</body>

</html>