<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    
    <div id="container">
        <picture id="logo">
            <img class="logo__picture" src="/images/logo.svg" alt="">

        </picture>

        <div class="form__container">

            
            <br><h1>WebNotes</h1><br>

            <p>Welcome to WebNotes</p><br>

            <div id="error__message">
                {{ fields_errors }}
            </div>

            <form action="http://localhost:8080/api/auth/signin" method="post">

                <input class="input" type="text" placeholder="Username" name="username">

                <input class="input" type="text" placeholder="Email" name="email">

                <input class="input" type="password" placeholder="Password" name="password">

                <input class="input" type="password" placeholder="Repeat password" name="password_repeat">

                <br>

                <input class="login__button" type="submit" value="Sign In">
            </form>

            <p class="container__or">
                <span class="text">or</span>
            </p><br>

            <p>Sign In with Google</p>
        </div>
    </div>

</body>
</html>