@import './elements/main-container.css';
@import './elements/header.css';
@import './elements/profile-container.css';
@import './elements/input-container.css';
@import './elements/footer.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;

    /* DEFAULT STYLES
    --header-back: #303841;
    --profile-back: #EEEEEE;
    --notes-back: white;
    --footer-back: #222831;
    --note-back: #222831;

    hover:notes: #38414b
    */

    --header-back: #303841;
    --profile-back: #f8f8f8;
    --notes-cont-back: white;
    --note-back: #222831;
    --footer-back: #222831;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}