header {
    background-color: var(--header-back);
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
}

img {
    max-width: 80%;
    max-height: 80%;
    margin: 5px;
    margin-left: 10px;
}

.header__logo {
    align-self: center;
    width: 70px;
    height: 70px;
}

.header__title {
    align-self: center;
}